.card__subtitle {
  font-family: "Antonio", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 0 23px;
  padding: 4px 0 0 0;
}

@media screen and (max-width: 1170px) {
  .card__subtitle {
    font-size: 24px;
    letter-spacing: -0.9px;
    margin: 0 0 0 13px;
    padding: 6px 0 0 0;
  }
}

@media screen and (max-width: 730px) {
  .card__subtitle {
    margin: 0;
    font-size: 20px;
    letter-spacing: -0.75px;
  }
}
