.main__image {
  display: flex;
  width: 290px;
  height: 290px;
  background-image: url(../../../images/planet-mercury.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  justify-self: center;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .main__image {
    width: 184px;
    height: 184px;
    padding: 0;
  }
}
