.main__image {
  width: 290px;
  height: 290px;
  background-image: url(../../../images/planet-mercury.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .main__image {
    width: 184px;
    height: 184px;
    align-self: normal;
    padding: 291px 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .main__image {
    width: 111px;
    height: 111px;
  }
}
