.header__links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 665px;
  min-height: 58px;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .header__links {
    min-height: 0;
    padding: 41px 0 0 0;
  }
}

