.main {
  max-width: 1129px;
  padding: 126px 0 0 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(111px, 666px) max-content;
  grid-template-rows: 1fr;
  gap: 0;
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
}
