.main {
  max-width: 1129px;
  padding: 55px 0 0 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(111px, 666px) max-content;
  grid-template-rows: 666px;
  gap: 0;
}

@media screen and (max-width: 900px) {
  .main {
    grid-template-columns: 689px;
    grid-template-rows: 475px 254px;
    padding: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 730px) {
  .main {
    display: none;
  }
}

