.main__buttons {
  width: 100%;
  margin: 0;
  padding: 39px 0 0 0;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .main__buttons {
    grid-area: 1 / 2 / 4 / 3;
    padding: 58px 0 0 0;
  }
}
