.mobile__text {
  width: 100%;
  font-family: "Spartan", Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 2;
  grid-area: 4 / 1 / 5 / 2;
  margin: 16px 0 0 0;
  max-width: 327px;
  text-align: center;
  justify-self: center;
  padding: 0;
}
