.main__info {
  display: grid;
  grid-template-columns: fit-content(350px);
  grid-template-rows: min-content 173px repeat(2, min-content);
  margin: 0 0 0px 103px;
}

@media screen and (max-width: 1170px) {
  .main__info {
    margin: 0 20px 0 0;
    max-width: 282px;
  }
}

@media screen and (max-width: 900px) {
  .main__info {
    grid-template-columns: 339px 281px;
    grid-template-rows: min-content minmax(110px, max-content) min-content;
    gap: 0 69px;
    margin: 0 auto;
    transform: translate(0, -15px);
  }
}

@media screen and (max-width: 720px) {
  .main__info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (5, minmax(110px, max-content));
    gap: 10px 0x;
    margin: 0 auto;
  }
}
