.main__image-pointer {
  width: 163px;
  height: 199px;
  display: none;
  background-image: url(../../../images/geology-mercury.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  align-self: flex-end;
}

@media screen and (max-width: 900px) {
  .main__image-pointer {
    top: 0;
    left: 13px;
  }
}
